.slide-button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  svg {
    fill: none;
  }

  @include no-touch {
    &:hover,
    &:focus-visible {
      svg {
        fill: $color-default-black;
        stroke: $color-default-black;
      }
    }
  }

  @include vp-767 {
    svg {
      width: 10px;
      height: 19px;
    }
  }
}

.slide-button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}
