.video {
  position: relative;
  margin: 0 auto;
  top: -113px;
  right: 211px;
  width: 364px;
  background-color: #ffffff;
  aspect-ratio: 16 / 9;

  @include vp-1199 {
    top: unset;
    right: unset;
    width: 39.23%;
    transform: translate(0, -50%);
  }

  @include vp-767 {
    top: 40px;
    width: 100%;
    transform: unset;
    margin-bottom: 57px;
  }
}

.is-playing .video__container {
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 23px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.video__preview {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 54, 122, 0.5);
  }

  @include vp-1199 {
    position: absolute;
    bottom: -9px;

    img {
      width: 100%;
    }
  }

  @include vp-767 {
    position: relative;
    bottom: unset;
  }
}

.is-playing .video__preview {
  display: none;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  cursor: pointer;
  user-select: none;
  transition: $trans-600;
  transition-property: transform;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(97.05deg, rgba(237, 2, 51, 0.2) 17.6%, rgba(0, 62, 183, 0.2) 95.31%);
    mask-image: radial-gradient(circle at center, transparent 67%, #ffffff 68%);
    user-select: none;
  }

  @include no-touch {
    &:hover,
    &:focus-visible {
      transform: translate(-50%, -50%) scale(1.2);
      background: linear-gradient(44.89deg, #0155b7 25.38%, #d2032f 74.89%);
    }

    &:active {
      background: linear-gradient(44.89deg, #0368e1 25.38%, #fa0338 74.89%);
    }
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::before {
      width: 73px;
      height: 73px;
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }

  @include vp-767 {
    top: 46%;
  }
}
